.button {
  background-color: #00bf71;
  border-width: 0px;
  border-color: #00bf71;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
  padding: 13px;
  margin: 15px;
  border-radius: 10px 10px 10px 10px;
}
