import { memo } from 'react';
import styles from './{{ properCase ComponentName }}.module.css';

export const {{ properCase ComponentName }} = memo((props) => {


return (
  <div>
    {{ properCase ComponentName }}
  </div>
);

});