.header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: black;
  color: #fff;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: #fff;
}
